!!! 5
html
	include header
	body
		div.container
			div.header
				a(href="/bookshare/") 
					h1 PTT Soft Job 版賞書活動票選
				div.date 投票期間：2012/9/16 ~ 2012/9/28
			div.books
				each book, i in books
					div.book
						div.img 
							a.link(href="/bookshare/show/"+book.seqNo)
								img(src=book.img)	
							div.descContainer 
								div.stamp
								div.desc	#{truncate(book.why+";"+book.think)}
						div.name #{book.name}
		script(src="/js/require-jquery.js",data-main="/js/index")

		