body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.backgroundEditor {
  width: 100%;
  height: 768px;
  overflow: hidden;
}
.seatEditor {
  width: 100%;
  height: 768px;
  overflow: hidden;
}
.right {
  float: right;
}
